# Normaliza todos los archivos de texto para que usen LF en el repositorio
* text=auto

# Asegurar que los scripts de Linux usen LF
*.sh text eol=lf
*.py text eol=lf

# Archivos de Windows deben mantener CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# Desactivar conversión para archivos binarios
*.jpg binary
*.png binary
*.gif binary
*.exe binary
*.dll binary

